@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Bebas+Neue&family=Belanosima&family=Dancing+Script:wght@700&family=Kanit:wght@200&family=Poppins:wght@100;200;300;400;500;600;700&family=Rubik:wght@500&family=Titillium+Web:wght@600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


body {
    height: 100vh;
}

nav.menu-lateral {
    width: 300px;
    height: 100%;
    background-color: rgb(36, 36, 36);
    padding: 40px 0 40px 1%;
}

/*Botão que irá expandir o menu*/

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

/*listas*/

ul {
    height: 100%;
    list-style: none;
}

ul > li.item-menu > a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul > li.item-menu > a:hover {
    background-color: rgb(16, 93, 195);
    transition: .3s;
}

ul > li.item-menu > a >.txt-link {
    margin-left: 25px;
}

ul > li.item-menu > a > .icon > i {
    font-size: 30px;
} 
